.content{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 30px;
}
#index_admin_categories *{
    text-align: center;
}
#index_admin_categories div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.avatar_img{
    height:40px;
}