html{
    height: 100%;
}
body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.title{
    font-size: 30px;
}

.subtitle{
    font-size: 20px;
}

#app{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;
}

main{
    display: flex;
    flex-flow: row nowrap;
    
    flex-grow: 1;
    justify-content: space-around;
    overflow: scroll;
}

.main_title{

}

.links{
    height: 100%;
}

#main_bar{
    background: white;
    height: 70px;
    box-shadow: 0 -2px 4px rgba(0,0,0,.04);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#main_bar .links{
    align-self: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.comment_container{
    width: 100px;
    border: 1px solid gray;
}

.progress_bar_container{
    width: 100%;
    height: 40px;
    background: rgb(162, 162, 162);
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.progress_bar_container .percentage{
    align-self: center;
    font-size: 20px;
}

.progress_bar{
    border-radius: 2px;
    height: 50%;
    background: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.avatar_img{
    height:50px;
    margin-right: 30px;
    max-height: 80%;
}

.project_avatar{
    width:400px;
    max-width: 80%;
}

.add_avatar_img{
    height:20px;
    max-height: 5%;
}

.add_avatar_btn{
    margin-right: 30px;
}