html, body {
    color: #636b6f;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Poiret One', cursive !important;
    font-size: 17px !important;
    
}

.main-buttons{
    margin:10px;
}

.pagination_links{
    justify-content: center;
}

.root   {
    width: 100%;
    height: 100vh;  
    display: flex;
    flex-flow: column nowrap;
}

.title{
    font-size: 30px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 14px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}